<% if @jobs.blank? %>
  <b>There are no Completed/Terminated Jobs</b>
<% end %>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Status</th>
      <th>Date Completed</th>
      <th>Misc Functions</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr id="job_<%= job.id %>">
        <td><%= job.id %></td>
        <td><%= job.job_name %></td>
        <td><%= job.status.blank? ? 'Pending' : job.status %></td>
        <td><%= job.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime('%B-%d-%Y %H:%M') %></td>
        <td>
          <% if [:pending, :processing, :completed,:terminated].include?(job.status.to_sym) %>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% if [:completed].include?(job.status.to_sym) %>
                  <li>
                    <%= link_to 'Download Report', export_job_path(job),:target => '_self' %>
                  </li>
                <% end %>
                <% if [:pending, :processing].include?(job.status.to_sym) %>
                  <li>
                    <%= link_to 'Stop Job', stop_path(job)%>
                  </li>
                <% end %>
                <li>
                  <%= link_to 'Delete Job', delete_path(job), :data => { :confirm => "Are you sure you want to delete the job?" } %>
                </li>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>


</table>