<div class="col-md-1"></div>

<div class="col-md-10" id ="new_job_form">  
  <div class="errors"></div>
  <%= form_for @new_job ,:url => create_path, :html => { :class => "" } do |f| %>
    <div class="form-group">
      <%= f.label :job_name, "Enter a Job Name:" %>
      <%= f.text_field :job_name, :class => 'form-control', :placeholder => "Job Name" %>
    </div>
    <div class="form-group">
      <%= f.label :csv_input, "Select A CSV File to import keywords from!!" %>
      <div class="input-group">
        <span class="input-group-addon upload_right_border"><span class="fa fa-upload"></span></span>
        <%= f.file_field :csv_input, :class => 'upload_left_border btn btn-default btn-file', :accept => "text/csv" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :keyword_column, "Please give column position of keyword pharse. By default keyword pharase will be on first ( 0 ) position" %>
      <div class="input-group">
        <span class="input-group-addon upload_right_border"><span class="fa fa-columns"></span></span>
        <%= f.number_field :keyword_column %>
      </div>
    </div>

    <button onclick="$(this).html('<i class=\'fa fa-spinner fa-spin\'></i> Processing...');return true;" class="btn btn-primary">Submit</button>
  <% end %>
</div>
<div class="col-md-1"></div>