<div class="panel with-nav-tabs panel-default">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= active_tab(0) %>"><a data-toggle="tab" href="#completed">Completed Jobs and Terminated Jobs</a></li>
      <li role="presentation" class="<%= active_tab(1) %>"><a data-toggle="tab" href="#new_job">New Job</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">

      <%= flash_messages %>

      <div id="completed" class="tab-pane fade <%= active_tab(0) %>">
        <h3>Jobs</h3>
        <%#= render :partial => "jobs/multi_actions", :locals => { :can_only => [:run, :recheck, :delete_all, :download] } %>
        <div id="completed-p-jobs">
          <%= render :partial => "job/completed" %>
        </div>
      </div>
      <div id="new_job" class="tab-pane fade in <%= active_tab(1) %>">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="float: none; margin: 0 auto;">
          <h3>KeywordSeparator - Add a NEW JOB</h3>
          <div id="new-job-form">
            <%= render :partial => "job/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>